<main class="row d-flex justify-content-center py-4">
    <div class="col-lg-4" id="modelHistoryPhoneCardDetail" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết giao dịch</h5>
                </div>
                <div class="modal-body d-flex flex-column gap-2">
                    <!-- Ngày giao dịch -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailDate">Ngày giao dịch</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailDate"
                            placeholder="Ngày giao dịch" disabled />
                    </div>
                    <!-- Mã giao dịch -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailCode">Mã giao dịch</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailCode"
                            placeholder="Mã giao dịch" disabled />
                    </div>
                    <!-- Trạng thái -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailStatus">Trạng thái</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailStatus"
                            placeholder="Trạng thái" disabled />
                    </div>
                    <!-- Loại thẻ -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailType">Loại thẻ</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailType"
                            placeholder="Loại thẻ" disabled />
                    </div>
                    <!-- Mệnh giá -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailPrice">Mệnh giá</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailPrice"
                            placeholder="Mệnh giá" disabled />
                    </div>
                    <!-- Số tiền -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailMoney">Tổng số tiền</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailTotalPrice"
                            placeholder="Số tiền" disabled />
                    </div>
                    <!-- Mã thẻ -->
                    <div class="form-group d-flex flex-column gap-1">
                        <label for="inputHistoryPhoneCardDetailCardCode">Mã thẻ</label>
                        <input type="text" class="form-control" id="inputHistoryPhoneCardDetailCardCode"
                            placeholder="Mã thẻ" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>