<div class="center-box grey-box" style="height:100vh;">
    <form action="" method="post">
        <div class="login-div">
            <div class="title">Đặt lại mật khẩu</div>
            <div class="fields">
                <div class="Email">
                    <input type="password" name="newPass" value="{{newPass}}"class="user-input" placeholder="Mật khẩu mới"autocomplete="off">  
                    <i class="input-icon uil uil-at"></i>                      
                </div>
                <div class="Phone">
                    <input type="password" name="rePass" value="{{rePass}}"class="form-style" placeholder="Xác nhận mật khẩu mới"autocomplete="off">
                    <i class="input-icon uil uil-lock-alt"></i>                           
                </div>
            </div>
            {{#if error}}
            <div class="alert alert-danger mt-2">
                {{error}}
            </div>
            {{/if}}
            <button type="submit" class="signin-button">Xác nhận</button>
        </div>
    </form>
</div>