<div class="center-box grey-box" style="height:100vh;">
    <form action="" method="post">
        <div class="login-div">
            <div class="title">Khôi phục mật khẩu</div>
            <div class="fields">
                <div class="Email">
                    <i class="fa fa-user"></i>                                                
                    <input  id="restore-email" type="email" name="email" value="{{email}}"placeholder="Email"class="user-input"/>
                </div>
                <div class="Phone">
                    <i class="fa fa-phone"></i> 
                    <input id="restore-phone" type="text" name="phone" value="{{phone}}"placeholder="Số điện thoại"class="pass-input"/>                                    
                </div>
            </div>
            {{#if error}}
                <div class="alert alert-danger mt-2">
                    {{error}}
                </div>
            {{/if}}

            {{#if otp}}
                <div class="alert alert-success mt-2">
                    {{otp}}
                </div>
            {{/if}}
            <button id="restore-btn" type="submit" class="signin-button">Xác nhận</button>
        </div>
    </form>
</div>

